<h2>Please enter your name to play</h2>
<form action="/play" method="post">
  <div>
    <label for="player_name">
      Player Name:
      <input type="text" name="player_name">
    </label>
  </div>
  <br>
  <input type="submit" value="Submit">
</form>
