<div>
  Enter your move
</div>
<form action="/result">
  <div>
    <input type="submit" value="Rock">
  </div>
  <div>
    <input type="submit" value="Paper">
  </div>
  <div>
    <input type="submit" value="Scissors">
  </div>
</form>
